<head>
    <meta charset="UTF-8">
    <title>Mini Amazon Index</title>
</head>

<body>
    <form action="/amazon/index" method="post">
        <p>
            Product Delivery Address: <input type="text" name="Address">
        </p>

        <p>
            Product Amount: <input type="text" name="Amount">
        </p>

        <p>
            Product ID: <input type="text" name="ID">
        </p>


        <p>
            Product Price: <input type="text" name="Price">
        </p>

        <p>
            UPS ID: <input type="text" name="UPS_ID">
        </p>

        <p>
            <input type="submit" value="Place Order">
        </p>

    </form>
</body>

</html>